<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /seatmap/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^seatmaps/(.*)$ controller/user_seatmap_controller.php?id=$1 [NC]
    RewriteRule ^(.*)s$ controller/$1_controller.php [NC]
    RewriteRule ^(.*)s/(.*)$ controller/$1_controller.php?p=$2 [NC]
    RewriteRule ^login$ controller/login.php [NC]

</IfModule>